body {
    margin: 0;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
}

.box {
    box-sizing: border-box;
    position: absolute;
    padding: 1em;
}

.container{
    position: relative;
    height: 100vh;
}

.header{
    background-color: #253b4a;
    height: 16.66%;
    width: 100%;
    top: 0;
}
.sidebar{
    background-color: #ffbc00;
    height: 66.66%;
    width: 25%;
    top: 16.66%;
    left: 0;
}
.ads{
    background-color: #257d92;
}
.main{
    background-color: #ff530d;
}
.news{
    background-color: #ffbc00;
}
.footer{
    background-color: #257d92;
    height: 16.66%;
    width: 100%;
    bottom: 0;
}
